<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mySSM.user.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.mySSM.user.bean.User">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName"/>
        <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="STATE" jdbcType="DECIMAL" property="state"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, USER_NAME, PASSWORD, STATE
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_USER
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <select id="findAll"  resultMap="BaseResultMap" parameterType="com.mySSM.user.bean.User">
        SELECT
        <include refid="Base_Column_List"/>
        FROM T_USER
        WHERE 1=1
            <if test="id != null">
                AND ID = #{id,jdbcType=VARCHAR}
            </if>
            <if test="userName != null">
                AND USER_NAME = #{userName,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                AND PASSWORD = #{password,jdbcType=VARCHAR}
            </if>
            <if test="state != null">
                AND STATE = #{state，jdbcType=DECIMAL}
            </if>
    </select>
    <select id="countByUserName" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT COUNT(1) FROM T_USER WHERE USER_NAME = #{userName}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_USER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.mySSM.user.bean.User">
    insert into T_USER (ID, USER_NAME, PASSWORD, 
      STATE)
    values (#{id,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{state,jdbcType=DECIMAL})
  </insert>
    <insert id="insertSelective" parameterType="com.mySSM.user.bean.User">
        insert into T_USER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="userName != null">
                USER_NAME,
            </if>
            <if test="password != null">
                PASSWORD,
            </if>
            <if test="state != null">
                STATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mySSM.user.bean.User">
        update T_USER
        <set>
            <if test="userName != null">
                USER_NAME = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                PASSWORD = #{password,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                STATE = #{state,jdbcType=DECIMAL},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mySSM.user.bean.User">
    update T_USER
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>